

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th> Usuario </th>
            <th> Role </th>
            <th> Modificar </th>
            <th> Eliminar </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <% @users.each do |user| %> 
                <tr>
                    <td><%= user.name %></td>
                    <td><%= user.role  %></td>
                    <td>
                    <%= form_with(model: @user, local: true, html: { class: 'form-horizontal' }) do |f| %>
                    <%= f.select :user, options_for_select([["Cambiar Rol"], "Visita", "Admin"]) %>
                    <% end %>
                    </td>
                    <td><%= link_to 'Eliminar', page_path(user), method: :delete, data: { confirm: 'Estás seguro que deseas eliminar el Comentario?' }, class: 'btn btn-xs btn-danger' %></td>
                </tr>
            <% end %>
        </tr>
    </tbody>
</table>

